<?xml version="1.0"?>

<launch>

  <!-- Use simulation time (prevention for problems with TF frames?) -->   
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find hector_gazebo_worlds)/launch/willow_garage.launch"/>
   
  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/> 
  </include>
   
  <!-- Start SLAM system -->
  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="odom_frame" value="world"/>
  </include>
 
  <!-- Start GeoTIFF mapper -->
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_publish_rate" value="4"/> 
  </include>
  
  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find move_quadcopter)/rviz_cfg/indoor_test_hector.rviz"/>

  <!-- Launch navigation server -->
  <node pkg="move_quadcopter" type="navigation_server" name="navigation_server"/>

  <!-- Launch navigation client -->
  <node pkg="move_quadcopter" type="navigation_client" name="navigation_client"/>

  <include file="$(find move_quadcopter)/launch/joy_teleop_sim.launch"/>

  <!-- Launch rqt_plot to monitor /cmd_vel -->

  <node name="cmd_vel_plot" pkg="rqt_plot" type="rqt_plot" args="/cmd_vel/linear/x /cmd_vel/linear/y /cmd_vel/linear/z /cmd_vel/angular/z" />
</launch>
